/.vs
/Client/.vs
/Server/.vs
/Tools/.vs
/Image Converter/.vs

/Client/project-files
/Image Converter/project-files
/Server/project-files
/Tools/project-files

/Server/GM personal logs
/Server/logs
/Server/debug.txt
/Server/abusers.txt
/Server/temppijee.txt
/Server/ipbans.txt

/Client/WORKING
/Client/Screenshots
/Client/levelit.txt
/Client/stderr.txt
/Client/stdout.txt

/Image Converter/Graphics

*.lnk
*.exe
*.sln
*.csproj.user
*.vcxproj.filters
*.vcxproj.user
*.ilk
*.pdb
*.aps
*.rc
*.vdt
*.vs2
*.ico
*.png
*.suo
*.vsf
*.ini
*.lastcodeanalysissucceeded

