/.vs
/SFML-Bunnkia/.vs
/SFML-Bunnkia/SFML/
/SFML-Bunnkia/Debug/
/SFML-Bunnkia/Release/
/SFML-Bunnkia/packages/
/SFML-Bunnkia/packages.config

*.sln
*.csproj.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dll
